= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :amazon_order_id
    %br/
    = f.text_field :amazon_order_id
  .field
    = f.label :puchased_at
    %br/
    = f.datetime_select :puchased_at
  .field
    = f.label :last_updated_at
    %br/
    = f.datetime_select :last_updated_at
  .field
    = f.label :status
    %br/
    = f.text_field :status
  .field
    = f.label :fullfilment_channel
    %br/
    = f.text_field :fullfilment_channel
  .field
    = f.label :sales_channel
    %br/
    = f.text_field :sales_channel
  .field
    = f.label :order_channel
    %br/
    = f.text_field :order_channel
  .field
    = f.label :ship_service_level
    %br/
    = f.text_field :ship_service_level
  .field
    = f.label :shipping_address_name
    %br/
    = f.text_field :shipping_address_name
  .field
    = f.label :shipping_address_lines
    %br/
    = f.text_field :shipping_address_lines
  .field
    = f.label :address_name_city
    %br/
    = f.text_field :address_name_city
  .field
    = f.label :shipping_address_state_or_region
    %br/
    = f.text_field :shipping_address_state_or_region
  .field
    = f.label :shipping_address_postal_code
    %br/
    = f.text_field :shipping_address_postal_code
  .field
    = f.label :shipping_address_country_code
    %br/
    = f.text_field :shipping_address_country_code
  .field
    = f.label :shipping_address_phone
    %br/
    = f.text_field :shipping_address_phone
  .field
    = f.label :total_sale_amount
    %br/
    = f.text_field :total_sale_amount
  .field
    = f.label :number_of_items_shipped
    %br/
    = f.number_field :number_of_items_shipped
  .field
    = f.label :number_of_items_unshipped
    %br/
    = f.number_field :number_of_items_unshipped
  .field
    = f.label :payment_execution_detail
    %br/
    = f.text_field :payment_execution_detail
  .field
    = f.label :payment_method
    %br/
    = f.text_field :payment_method
  .field
    = f.label :marketplace_id
    %br/
    = f.text_field :marketplace_id
  .field
    = f.label :buyer_name
    %br/
    = f.text_field :buyer_name
  .field
    = f.label :buyer_email
    %br/
    = f.text_field :buyer_email
  .field
    = f.label :shipment_service_level_category
    %br/
    = f.text_field :shipment_service_level_category
  .field
    = f.label :cba_displayable_shipping_label
    %br/
    = f.text_field :cba_displayable_shipping_label
  .field
    = f.label :shipped_by_amazon_tfm
    %br/
    = f.check_box :shipped_by_amazon_tfm
  .field
    = f.label :tfm_shipment_status
    %br/
    = f.text_field :tfm_shipment_status
  .field
    = f.label :order_type
    %br/
    = f.text_field :order_type
  .field
    = f.label :earliest_shipped_at
    %br/
    = f.datetime_select :earliest_shipped_at
  .field
    = f.label :latest_shipped_at
    %br/
    = f.datetime_select :latest_shipped_at
  .actions
    = f.submit
